.tab-pane {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-radius: 0px 0px 5px 5px;
	padding: 10px;
}

.nav-tabs {
	margin-bottom: 0;
}

.upload-drop-zone {
	height: 200px;
	border-width: 2px;
	margin-bottom: 20px;
}

.upload-drop-zone {
	color: #ccc;
	border-style: dashed;
	border-color: #ccc;
	line-height: 200px;
	text-align: center
}

.upload-drop-zone.drop {
	color: #222;
	border-color: #222;
}

.validation-callout {
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.validation-callout h4 {
	margin-top: 0;
	margin-bottom: 5px;
}

.validation-callout-failure {
	border-left-color: #ce4844;
}

.validation-callout-success {
	border-left-color: #3c763d;
}

.validation-callout-failure h4{
	color: #ce4844;
}

.validation-callout-success h4{
	color: #3c763d;
}